
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.heading{
    margin-top: 50px;
    font-size: 55px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-weight: lighter;
}
body{
    margin:0px;
    padding:0px;
    background-color: rgb(4, 140, 194);font-family: "Open Sans", serif;
}

.mainForm{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.cform{
    margin-top: 33px;
    background-color: rgb(10, 10, 10);
     color: white;
    height: 420px;
    width: 380px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: url('./images/mountain-peaks-night-time.jpg');
    background-repeat: no-repeat;
    background-position:inherit;
    background-size: cover;
    position: relative;   
    box-shadow: 0px 10px 8px 5px rgba(0, 0, 0, 0.2);
   
    
}

label{
  
    font-size: 19px;
    margin-left: 12px;
    margin-right: 12px;
}
input{
    padding: 11px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
    margin-top: 12px;
    border: 0px;
 
}
.loginheading{
    font-family:'Times New Roman', Times, serif;
    font-weight: 50;
    font-size: 30px;
    
}
.checkbox{
    background: none;
}
.selected{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 17px;
    margin-top: 5px;
}
.btn{
    background-color: orangered;
    border: 0px;
    height: 41px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 21px; 
    font-size: 17px;
}
.forget{
    color: red;
    text-align: center;
    margin-top: 28px;
    text-decoration: none;
}
.closebtn{
    position: absolute;
    right: -14px;
    top: -14px;
    background-color: red;
    padding: 14px;
}
.cross{
    width: 10px;
    height: 10px;
}
.reservered{
    position: absolute;
    bottom: 50px;
    
}